@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Admin Page of KinoGo</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Admin Page</h2>
        <p>
            Here you can manage all functions our web page!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Crud Operations</h2>
        <p>You can go to each page and do CRUD operations for each model</p>
   </div>
    <div class="col-md-4">
        <h2>Sorting and Searching</h2>
        <p>You can sort your items by his parameter and search </p>
        
    </div>
</div>